.quotation-block {
    border: 1px solid rgb(215, 214, 215);
    border-radius: 6px;
}

.page:not(:last-child) {
    border-bottom: 2px solid rgb(70, 70, 70);
    margin-bottom: 15px;
    padding-bottom: 15px;
}

@media print {
    .quotation-block {
        border: 0;
        border-radius: 0px;
        .page:not(:last-child) {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}